* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.navigatonbar {
  width: 100%;
  background: #51504e;
}

.navigationbat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 75%;
  margin: 30px auto;
}

.navigationbar__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navigationbar__item:hover {
  text-shadow: 0 0 1rem white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  color: white;
  font-family: "OpenSans", "Arial";
}

*::-moz-selection {
  background-color: #bda4ff;
}

*::selection {
  background-color: #bda4ff;
}

p, span {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 10px 0px;
  text-align: justify;
}

ol, ul {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 10px 0px;
  text-align: left;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  margin: 20px 0px;
  text-align: left;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.contentWidthConstraint {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #51504e;
}

.manual {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px;
}

/*-------------------------------------------*/
/*-----------------MAIN WINDOW MANUAL--------*/
/*-------------------------------------------*/
.manual__mainWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manual__mainWindowImageWrapper {
  position: relative;
  padding: 0 0 58% 0;
}

.manual__mainWindowImageWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manual__ImportFormatImageWrapper {
  position: relative;
  padding: 0 0 50% 0;
}

.manual__ImportFormatImageWrapper img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
}

.manual__list {
  width: 100%;
  height: 100%;
}

.manual__list li {
  color: #51504e;
  font-size: 2rem;
  text-align: left;
  margin: 0 20px 20px 0;
  position: relative;
}

.manual__list::last-child {
  margin: 0 0 0 0;
}

.manual__list li::before {
  content: "";
  position: absolute;
  background-image: url("../img/tick.png");
  background-size: cover;
  top: 0;
  left: -4rem;
  width: 2rem;
  height: 2rem;
  display: block;
}

.manual__list li:hover::before {
  -webkit-box-shadow: #bda4ff 0 0 30px 5px;
          box-shadow: #bda4ff 0 0 30px 5px;
}

.inlineImage {
  display: inline-block;
  height: 1.5rem;
}

.inlineImage img {
  height: 100%;
}

/*-------------------------------------------*/
/*-----------------MAIN WINDOW SETTINGS--------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-----------------FOOTER--------------------*/
/*-------------------------------------------*/
.footer {
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.footer__copyright {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  color: #51504e;
}