$contentWidth:75%;
.navigatonbar {
	width: 100%;
	background: #51504e;
	display: flex;
	position: relative;
}
.navigationbat__container {
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: 30%;
	flex: 1 1 auto;
	position: relative;
}
.navigationbar__item {
	flex:1 1 auto;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
	height: 100px;
}
.navigationbar__item:hover{
	text-shadow: 0 0 1rem white;
	transform: scale(1.1);
}
.navigationbar__languageButtonContainer{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.navigationbar__languageButton{
	min-width: 4rem;
	min-height: 4rem;
	border-radius: 2rem;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigationbar__languageButton:hover{
	background-color: white;
	transition-duration: 500ms;
	box-shadow: white 0px 0px 10px;
	& p{
		color:#51504e;
	}
}
@media (max-width: 767px){
	body.lock{
		overflow: hidden;
	}
	.navigationbar__burger{
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		margin: 40px 30px;
	}
	.navigationbar__burger.active::before{
		transform: rotate(45deg);
		top: 9px;

	}
	.navigationbar__burger.active span{
		transform: scale(0);
	}
	.navigationbar__burger.active::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.navigationbar__burger::before,
	.navigationbar__burger::after{
		content: '';
		background-color: white;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.navigationbar__burger::before{
		top:0px;
	}
	.navigationbar__burger::after{
		bottom:2px;
	}
	.navigationbar__burger span{
		display: block;
		position: absolute;
		background-color: white;
		width: 100%;
		height: 2px;
		top:8px;
		margin:0;
		left:0;
		transition: all 0.3s ease 0s;
	}
	.navigationbat__container{
		position: fixed;
		top:-100%;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		margin:0;
		transition-duration: 0.3s;
	}
	.navigationbat__container.active{
		top:100px;
	}
	.navigationbar__item {
		width:100%;
		max-height: 60px;
		flex: 0 0 60px; 
		font-size: 1.5rem;
		transition-duration: 0.5s;
		background: #51504e;
	}
	.navigatonbar{
		justify-content: space-between;
	}
	.navigationbat__container2{

	}
}
