$contentWidth:75%;
.navigatonbar {
	width: 100%;
	background: #51504e;
	display: flex;
}
.navigationbat__container {
	display: flex;
	height: 100%;
	justify-content: center;
	max-width: $contentWidth;
	margin-left: 20%;
	flex: 1 1 auto;
}
.navigationbar__item {
	flex:1 1 auto;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
	height: 100px;
}
.navigationbar__item:hover{
	text-shadow: 0 0 1rem white;
	transform: scale(1.1);
}
.navigationbar__languageButtonContainer{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigationbar__languageButton{
	min-width: 4rem;
	min-height: 4rem;
	border-radius: 2rem;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigationbar__languageButton:hover{
	background-color: white;
	transition-duration: 500ms;
	box-shadow: white 0px 0px 10px;
	& p{
		color:#51504e;
	}
}