$contentWidth:75%;
.navigatonbar {
	width: 100%;
	background: #51504e;
}
.navigationbat__container {
	display: flex;
	height: 100%;
	justify-content: center;
	max-width: $contentWidth;
	margin: 30px auto;
}
.navigationbar__item {
	flex:1 1 auto;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
}
.navigationbar__item:hover{
	text-shadow: 0 0 1rem white;
	transform: scale(1.1);
}