* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  color: white;
  font-family: "OpenSans", "Arial";
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullScreenBlock {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*--------------------------------------------*/
/*---------------MAIN BLOCK-------------------*/
/*--------------------------------------------*/
.mainBlock {
  background: #51504e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainBlock__foreground {
  z-index: 2;
  pointer-events: none;
}

.navigatonbar {
  width: 100%;
}

.navigationbat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 75%;
  margin: 30px auto;
}

.navigationbar__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navigationbar__item:hover {
  text-shadow: 0 0 1rem white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainBlock__contentWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBlock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
}

.mainBlock__title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 10px auto;
}

.mainBlock__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 10px auto;
}

.downloadButton {
  width: 80%;
  min-height: 4rem;
  border-radius: 15px;
  padding: 10px;
  background-color: #bda4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downloadButton:hover p {
  color: #51504e;
}

.downloadButton:hover {
  background: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-shadow: white 0px 0px 10px;
          box-shadow: white 0px 0px 10px;
}

.downloadButton__mainText {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.downloadButton__subText {
  font-size: 1rem;
  font-weight: 300;
}

.mainBlock_downloadButton {
  margin: 20px 0;
}

.mainBlock__listOfAdvantagesContainer {
  margin: 10px;
}

.mainBlock__listOfAdvantagesItem {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 10px 0;
  position: relative;
  /*list-style-type: circle;*/
}

.mainBlock__listOfAdvantagesItem::before {
  content: "";
  background-image: url("../img/tick.png");
  background-position: center;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  position: absolute;
  top: 0;
  left: -3rem;
}

.mainBlock__listOfAdvantagesItem:last-child {
  margin: 0px;
}

.card {
  width: 20vw;
  height: 32vw;
  border-radius: 20px;
  position: absolute;
}

.card_pink {
  background-color: #bda4ff;
}

.card_white {
  background-color: white;
}

.card_grey {
  background-color: #51504e;
}

.card1 {
  -webkit-animation-name: card1;
          animation-name: card1;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card2 {
  -webkit-animation-name: card2;
          animation-name: card2;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes card1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 15%;
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    left: 0;
    top: 20%;
  }
}

@keyframes card1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 15%;
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    left: 0;
    top: 20%;
  }
}
@-webkit-keyframes card2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 40%;
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    left: 0;
    top: 50%;
  }
}
@keyframes card2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 40%;
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    left: 0;
    top: 50%;
  }
}
.card3 {
  -webkit-animation-name: card3;
          animation-name: card3;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes card3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 60%;
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    left: 10%;
    top: 70%;
  }
}

@keyframes card3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -40vh;
    top: 60%;
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    left: 10%;
    top: 70%;
  }
}
.card4 {
  -webkit-animation-name: card4;
          animation-name: card4;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes card4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 20%;
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    right: 5%;
    top: 25%;
  }
}

@keyframes card4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 20%;
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    right: 5%;
    top: 25%;
  }
}
.card5 {
  -webkit-animation-name: card5;
          animation-name: card5;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes card5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 40%;
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    right: 10%;
    top: 50%;
  }
}

@keyframes card5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 40%;
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    right: 10%;
    top: 50%;
  }
}
.card6 {
  -webkit-animation-name: card6;
          animation-name: card6;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes card6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 60%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: 10%;
    top: 70%;
  }
}

@keyframes card6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 60%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: 10%;
    top: 70%;
  }
}
.card7 {
  -webkit-animation-name: card7;
          animation-name: card7;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes card7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 30%;
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    right: -5%;
    top: 40%;
  }
}

@keyframes card7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: -40vh;
    top: 30%;
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    right: -5%;
    top: 40%;
  }
}
/*----------------------------------------------*/
/*---------------SECOND BLOCK-------------------*/
/*----------------------------------------------*/
.secondBlock {
  background: white;
  z-index: 2;
  position: relative;
  color: black;
  width: 100%;
}

.secondBlock::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, white, rgba(0, 0, 0, 0));
}

.secondBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 90%;
  margin: 5% auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondBlock__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.secondBlock__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.secondBlock__grid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.secondBlock__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.contentWodthLimit {
  max-width: 80%;
}

.titleWrapper {
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  padding: 5%;
  color: #51504e;
}

.listOfActions {
  width: 100%;
  height: 100%;
}

.listOfActions li {
  color: #51504e;
  font-size: 2rem;
  text-align: left;
  margin: 0 20px 20px 0;
  position: relative;
}

.listOfActions::last-child {
  margin: 0 0 0 0;
}

.listOfActions li::before {
  content: "";
  position: absolute;
  background-image: url("../img/tick.png");
  background-size: cover;
  top: 0;
  left: -4rem;
  width: 2rem;
  height: 2rem;
  display: block;
}

.listOfActions li:hover::before {
  -webkit-box-shadow: #bda4ff 0 0 30px 5px;
          box-shadow: #bda4ff 0 0 30px 5px;
}

.smallCard {
  height: 40vh;
  width: 27vh;
  border-radius: 20px;
}

.firstCardInSecondBlock {
  top: 20%;
  left: 65%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.secondCardInSecondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 10%;
  left: 55%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.secondCardInSecondBlock__content {
  opacity: 0;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.thirdCardInSecondBlock {
  top: 32%;
  left: 70%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.cardShadow {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

.secreteCard {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.secretCard:hover div {
  opacity: 1;
}

/*----------------------------------------------*/
/*---------------THIRD BLOCK-------------------*/
/*----------------------------------------------*/
.thirdBlock {
  /*background-color:#51504e; */
  background-color: white;
  z-index: 2;
  position: relative;
}

.thirdBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 90%;
  margin: 5% auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdBlock__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.thirdBlock__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.thirdBlock__grid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.thirdBlock__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.leitnerSystemImage {
  width: 100%;
  margin: 0 auto;
}

.border {
  position: absolute;
  width: 80%;
  min-height: 1px;
  background-color: #51504e;
  top: 0;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*----------------------------------------------*/
/*------APPLICATION SCREENS BLOCK---------------*/
/*----------------------------------------------*/
.leitnerSystemAppBlock {
  background-color: #51504e;
  z-index: 2;
  position: relative;
}

.leitnerSystemAppBlockGrid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-height: 100%;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(100px auto) auto;
  grid-template-rows: minmax(100px auto) auto;
      grid-template-areas: "title" "images";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leitnerSystemAppBlockGrid__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  color: white;
  grid-area: title;
  padding: 20px;
}

.leitnerSystemAppBlockGrid__ScreenWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 100%;
  grid-area: images;
  position: relative;
}

.leitnerSystemAppBlockGrid__secondScreenWrapper {
  min-width: 100%;
  position: absolute;
  padding: 0 0 55% 0;
  z-index: 3;
  left: 100px;
  top: 100px;
}

.leitnerSystemAppBlockGrid__secondScreenWrapper img {
  height: 75%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
}

.leitnerSystemAppBlockGrid__firstScreenWrapper {
  min-width: 100%;
  position: absolute;
  padding: 0 0 55% 0;
  z-index: 3;
  left: 0;
  top: 0;
}

.leitnerSystemAppBlockGrid__firstScreenWrapper img {
  height: 75%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
}

/*----------------------------------------------*/
/*---------DOWNLOAD SCREENS BLOCK---------------*/
/*----------------------------------------------*/
.lastScreen {
  background-color: #51504e;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.lastScreen__content {
  width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.lastScreen__subtext {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: left;
  margin: 0 auto;
  color: #bda4ff;
  text-shadow: 0px 0px 200px #bda4ff;
}

.footer {
  background: white;
  z-index: 2;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downloadButton_shadow {
  -webkit-box-shadow: 0 0 100px 30px #bda4ff;
          box-shadow: 0 0 100px 30px #bda4ff;
}

.footer__copyright {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  color: #51504e;
}

.additionalImage {
  display: none;
}

@media (max-width: 1200px) {
  .card5 {
    display: none;
  }
  .thirdBlock__listOfActions li {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .listOfActions li {
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  .card4 {
    display: none;
  }
  .leitnerSystemAppBlockGrid__secondScreenWrapper {
    display: none;
  }
  .leitnerSystemAppBlockGrid__firstScreenWrapper img {
    margin: 5px auto;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .secondBlock__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .thirdBlock__grid {
    display: block;
  }
  .titleWrapper {
    margin: 10px auto;
    text-align: left;
  }
  .thirdBlock__listOfActionsWrapper {
    margin: 10px auto;
  }
  .thirdBlock__secondCardWrapper {
    display: none;
  }
  .additionalImage {
    z-index: 2;
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: white;
    padding: 0% 10%;
  }
  .contentWodthLimit {
    max-width: 60%;
  }
  .thirdCardInSecondBlock {
    display: none;
  }
  .firstCardInSecondBlock {
    display: none;
  }
  .secondCardInSecondBlock {
    display: none;
  }
}
@media (max-width: 600px) {
  .card2 {
    display: none;
  }
}
@media (max-width: 550px) {
  .card1, .card3, .card6, .card7 {
    display: none;
  }
}
@media (max-width: 450px) {
  .listOfActions li {
    font-size: 1rem;
  }
}
/*----------------------------*/
@media (max-height: 500px) {
  .mainBlock__listOfAdvantagesContainer {
    display: none;
  }
  .listOfActions li {
    font-size: 1rem;
  }
}
@media (max-height: 350px) {
  .listOfActions li {
    font-size: 0.8rem;
  }
}