@import 'NullFileCSS.scss';
$contentWidth:75%;
*{
	color:white;
	font-family: 'OpenSans', 'Arial';
}
.wrapper {
	width: 100%;
}
.container {
	display: flex;
	flex-direction: column;
}
.fullScreenBlock {
	height: 100vh;
}
.mainBlock {
	background: #51504e;
	position: relative;
}
.footer {
	background: #51504e;
}
.navigatonbar {
	height: 10%;
	width: 100%;
}
.navigationbat__container {
	display: flex;
	height: 100%;
	justify-content: center;
	max-width: $contentWidth;
	margin: 0 auto;
	/*max width shoild be removed*/
}
.navigationbar__item {
	flex:1 1 auto;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mainBlock__content {
	display: flex;
	max-width: $contentWidth;
	flex-direction:column;
	align-content: center;
	justify-content: center;;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.mainBlock__title {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
	margin: 10px auto;
}
.mainBlock__subtitle {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin: 10px auto;
}
.downloadButton {
	min-width:200px;
	padding: 10px;
	text-align:center;
	height: 4rem;
	border-radius: 15px;
	font-size: 2rem;
	font-weight: 500;
	background-color: #bda4ff;
	margin:10px auto;
}
.mainBlock__listOfAdvantagesContainer {}
.mainBlock__listOfAdvantages {}
.mainBlock__listOfAdvantagesItem {}
.secondBlock {
	background: white;
}