@import 'NullFileCSS.scss';
@import 'navigationBar.scss';
$contentWidth:75%;
$grey:#51504e;
*{
	color:white;
	font-family: 'OpenSans', 'Arial';
}
html{
	min-width: 100vw;
	height: 100%;
}
body{
	overflow-x: hidden;
	margin:0px;
	padding:0px;
	min-width:100%;
	height: 100%;
}

.wrapper {
	width: 100%;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.fullScreenBlock {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
/*--------------------------------------------*/
/*---------------MAIN BLOCK-------------------*/
/*--------------------------------------------*/
.mainBlock {
	background: #51504e;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;

}
.mainBlock__foreground{
	z-index: 2;
	pointer-events: none;
}

.mainBlock__contentWrapper{
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainBlock__content {
	
	display: flex;
	max-width: $contentWidth;
	flex-direction:column;
	align-content: center;
	align-items: center;
	justify-content: center;
	max-width: 400px;
}
.mainBlock__title {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
	margin: 10px auto;
}
.mainBlock__subtitle {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin: 10px auto;
}
.downloadButton {
	width: 80%;
	min-height: 4rem;
	border-radius: 15px;
	padding: 10px;
	background-color: #bda4ff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.downloadButton:hover p{
	color: #51504e;
}
.downloadButton:hover{
	background: white;
	transform: scale(1.1);
	transition-duration: 500ms;
	box-shadow: white 0px 0px 10px;
}
.downloadButton__mainText {
	font-size: 2rem;
	font-weight: 500;
	margin: 0 0 10px 0;
}
.downloadButton__subText {
	font-size: 1rem;
	font-weight: 300;
}
.mainBlock_downloadButton{
	margin: 20px 0;
}
.mainBlock__listOfAdvantagesContainer {
	margin: 10px;
}
.mainBlock__listOfAdvantagesItem {
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0 0 10px 0;
	position: relative;
	/*list-style-type: circle;*/
}
.mainBlock__listOfAdvantagesItem::before {
	content: '';
	background-image: url('../img/tick.png');
	background-position:center;
	background-size: contain;
	height: 1.5rem;
	width:1.5rem;
	display: block;
	position: absolute;
	top:0;
	left:-3rem;
}
.mainBlock__listOfAdvantagesItem:last-child {
	margin: 0px;
}
.card{
	width:20vw;
	height:32vw;
	border-radius: 20px;
	position: absolute;
}
.card_pink{
	background-color: #bda4ff;
}
.card_white{
	background-color: white;
}
.card_grey{
	background-color: #51504e;
}
.card1{
	animation-name: card1;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}
.card2{
	animation-name: card2;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}
@keyframes card1{
	0%{
		transform: rotate(0deg);
		left:-40vh;
		top:15%;
	}
	100%{
		transform: rotate(10deg);
		left:0;
		top:20%;
	}
}
@keyframes card2{
	0%{
		transform: rotate(0deg);
		left:-40vh;
		top:40%;
	}
	100%{
		transform: rotate(20deg);
		left:0;
		top:50%;
	}
}
.card3{
	animation-name: card3;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}
@keyframes card3{
	0%{
		transform: rotate(0deg);
		left:-40vh;
		top:60%;
	}
	100%{
		transform: rotate(60deg);
		left:10%;
		top:70%;
	}
}
.card4{
	animation-name: card4;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	transform-origin: center;
}
@keyframes card4{
	0%{
		transform: rotate(0deg);
		right:-40vh;
		top:20%;
	}
	100%{
		transform: rotate(-5deg);
		right:5%;
		top:25%;
	}
}
.card5{
	animation-name: card5;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	transform-origin: center;
}
@keyframes card5{
	0%{
		transform: rotate(0deg);
		right:-40vh;
		top:40%;
	}
	100%{
		transform: rotate(-15deg);
	right:10%;
	top:50%;
	}
}
.card6{
	animation-name: card6;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	transform-origin: center;
}
@keyframes card6{
	0%{
		transform: rotate(0deg);
		right:-40vh;
		top:60%;
	}
	100%{
		transform: rotate(-45deg);
	right:10%;
	top:70%;
	}
}
.card7{
	animation-name: card7;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	transform-origin: center;
}
@keyframes card7{
	0%{
		transform: rotate(0deg);
		right:-40vh;
		top:30%;
	}
	100%{
		transform: rotate(5deg);
		right:-5%;
		top:40%;
	}
}
/*----------------------------------------------*/
/*---------------SECOND BLOCK-------------------*/
/*----------------------------------------------*/
.secondBlock {
	background: white;
	z-index: 2;
	position: relative;
	color: black;
	width: 100%;
}
.secondBlock::before{

	content: '';
	width: 100%;
	height: 50px;
	position: absolute;
	top:0;
	left:0;
	transform:translate(0px,-100%);
	background: linear-gradient(0deg, white, rgba(0,0,0,0));
}
.secondBlock__grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 90%;
	margin: 5% auto;
	justify-items: center;
	align-items: center;	
}
.contentWodthLimit{
	max-width:80%;
}
.titleWrapper{
	font-size: 3rem;
	font-weight: 600;
	text-align: left;
	padding: 5%;
	color: #51504e;
}
.secondBlock__firstCardWrapper {
}
.secondBlock__listOfActionsWrapper {
}
.secondBlock__secondCardWrapper {}
.listOfActions{
	width: 100%;
	height: 100%;
}
.listOfActions li{
	color: #51504e;
	font-size: 2rem;
	text-align: left;
	margin: 0 20px 20px 0;
	position: relative;
}
.listOfActions::last-child{
		margin: 0 0 0 0;
}
.listOfActions li::before{
	content: '';
	position: absolute;
	background-image: url('../img/tick.png');
	background-size: cover;
	top: 0;
	left: -4rem;
	width: 2rem;
	height: 2rem;
	display: block;
}
.listOfActions li:hover{
	&::before{
		box-shadow: #bda4ff 0 0 30px 5px;
	}
}
.smallCard{
	height: 40vh;
	width:27vh;
	border-radius: 20px;
}
.firstCardInSecondBlock{
	top: 20%;
	left: 65%;
	transform-origin: center;
	transform: rotate(40deg);
}
.secondCardInSecondBlock{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	top: 10%;
	left: 55%;
	transform-origin: center;
	transform: rotate(5deg);
	
}
.secondCardInSecondBlock__content{
	opacity: 0;
	padding: 10px;
	text-align: center;
	font-size: 2rem;
	color:white;
	transition-duration: 1s;
}
.thirdCardInSecondBlock{
	top: 32%;
	left: 70%;
	transform-origin: center;
	transform: rotate(60deg);
}
.cardShadow{
	box-shadow: 0 0 15px black;
}
.secreteCard{
	transition-duration: 1s;
}
.secretCard:hover{
	& div{
		opacity: 1;
	}
}
/*----------------------------------------------*/
/*---------------THIRD BLOCK-------------------*/
/*----------------------------------------------*/
.thirdBlock{
	/*background-color:#51504e; */
	background-color: white;
	z-index: 2;
	position: relative;
}
.thirdBlock__grid {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 90%;
	margin: 5% auto;
	justify-items: center;
	align-items: center;	
}
.thirdBlock__firstCardWrapper {}
.thirdBlock__listOfActionsWrapper {}
.thirdBlock__secondCardWrapper {}
.leitnerSystemImage{
	width:100%;
	margin: 0 auto;
}
.border{
	position: absolute;
	width: 80%;
	min-height: 1px;
	background-color:#51504e;
	top:0;
	left: 50%;
	transform-origin: center;
	transform: translateX(-50%);
}
/*----------------------------------------------*/
/*------APPLICATION SCREENS BLOCK---------------*/
/*----------------------------------------------*/
.leitnerSystemAppBlock{
	background-color: #51504e;
	z-index: 2;
	position: relative;
}

.leitnerSystemAppBlockGrid {
	display: grid;
	width: 80%;
	min-height: 100%;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: 150px fit-content(80%);
	grid-template-areas: "title"
						"images";
	justify-content: center;
	align-items: center;
}
.leitnerSystemAppBlockGrid__title {
	font-size: 3rem;
	font-weight: 600;
	text-align: left;
	color: white;
	max-height: 150px;
	grid-area: title;
	padding: 20px;
}
.leitnerSystemAppBlockGrid__firstScreenWrapper {}
.leitnerSystemAppBlockGrid__secondScreenWrapper {}
.leitnerSystemAppBlockGrid__ScreenWrapper{
	width: 100%;
	min-height: 100%;

	grid-area: images;
	position: relative;
}
.leitnerSystemAppBlockGrid__secondScreenWrapper{
	min-width: 100%;
	position: absolute;
	padding: 0 0 55% 0;
	z-index: 3;
	left: 100px;
    top:100px;

}
.leitnerSystemAppBlockGrid__secondScreenWrapper img{
	height: 75%;
	left: 0;
	top:0;
	position: absolute;
	z-index: 3;
	box-shadow: 0 0 40px white;
}
.leitnerSystemAppBlockGrid__firstScreenWrapper{
	min-width: 100%;
	position: absolute;
	padding: 0 0 55% 0;
	z-index: 3;
    left: 0;
    top:0;


}
.leitnerSystemAppBlockGrid__firstScreenWrapper img{
	height: 75%;
	left:0;
	top:0;
	position: absolute;
	z-index: 3;
	box-shadow: 0 0 40px white;
}
/*----------------------------------------------*/
/*---------DOWNLOAD SCREENS BLOCK---------------*/
/*----------------------------------------------*/

.lastScreen {
	background-color: #51504e;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.lastScreen__content {
	width: 40%;
	min-width: 450px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	justify-items: center;
}
.lastScreen__buttonCell {}
.lastScreen__subtext {
	font-size: 2.5rem;
	font-weight: 500;
	text-align: left;
	margin: 0 auto;
	color:#bda4ff;
	text-shadow: 0px 0px 200px #bda4ff;
}

.footer {
	background: white;
	z-index: 2;
	min-height:10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.downloadButton_shadow{
	box-shadow: 0 0 100px 30px #bda4ff;
}
.footer__content {

}
.footer__copyright {
	font-size: 1rem;
	text-align: center;
	margin: 0 auto;
	color:#51504e;
}

.additionalImage{
	display: none;
}
@media (max-width: 1200px){
	.card5{
		display: none;
	}
	.thirdBlock__listOfActions li{
		font-size: 1.5rem;
	}
}
@media (max-width: 800px){
	.listOfActions li{
		font-size: 1.5rem;
	}
}
@media (max-width: 750px){
	.card4{
		display: none;
	}
	.leitnerSystemAppBlockGrid__firstScreenWrapper{
		min-width: 100%;
		max-height: 50%;
		position: relative;
		padding: 0 0 55% 0;
		z-index: 3;
    	left: 0;
    	top:0;
    	margin: 0 auto;
	}
	.leitnerSystemAppBlockGrid__secondScreenWrapper{
		min-width: 100%;
		max-height: 50%;
		position: relative;
		padding: 0 0 55% 0;
		z-index: 3;
    	left: 0;
    	top:0;
    	margin: 0 auto;
	}
	.leitnerSystemAppBlockGrid__secondScreenWrapper img{
		margin: 2px auto;
		object-fit: cover;
	}
	.leitnerSystemAppBlockGrid__firstScreenWrapper img{
		margin: 2px auto;
		object-fit: cover;
	}
}
@media (max-width: 700px){
	.secondBlock__grid{
		grid-template-columns: 1fr;
	}
	.thirdBlock__grid{
		display: block;
	}
	.titleWrapper{
		margin: 10px auto;
		text-align: left;
	}
	.thirdBlock__listOfActionsWrapper{
		margin: 10px auto;
	}
	.thirdBlock__secondCardWrapper{
		display: none;
	}
	.additionalImage{
		z-index: 2;
		display: block;
		width: 100%;
		min-height: 200px;
		background-color: white;
		padding: 0% 10%;
	}
	.contentWodthLimit{
		max-width: 60%;
	}
	.thirdCardInSecondBlock{
		display: none;
	}
	.firstCardInSecondBlock{
		display: none;
	}
	.secondCardInSecondBlock{
		display: none;
	}
}
@media (max-width: 600px){
	.card2{
		display: none;
	}
}
@media (max-width: 550px){
	.card1, .card3, .card6, .card7{
		display: none;
	}
}
@media (max-width: 450px){
	.listOfActions li{
		font-size: 1rem;
	}
	.leitnerSystemAppBlockGrid__title{
		font-size: 1.5rem;
	}
	.lastScreen__content {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
/*----------------------------*/
@media (max-height: 500px){
	.mainBlock__listOfAdvantagesContainer{
		display: none;
	}
	.listOfActions li{
		font-size: 1rem;
	}
}
@media (max-height: 350px){
	.listOfActions li{
		font-size: 0.8rem;
	}
}